/*Defines the grid area*/
.BattleScreen{
    display: grid;
    grid-template-areas: 
    "NPCIcon1 PlayerAvatar NPCIcon5 Enemy1"
    "NPCIcon2 AllyNPC1 NPCIcon6 Enemy2"
    "NPCIcon3 AllyNPC2 NPCIcon7 Enemy3"
    "NPCIcon4 AllyNPC3 NPCIcon8 Enemy4"
    "AllySummons AllySummons EnemySummons EnemySummons"
    "AllyDetails AllyDetails EnemyDetails EnemyDetails";
    gap: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    grid-template-columns: 100px auto 100px auto;
    grid-template-rows: 100px 100px 100px 100px auto;
}
/*Styling and location of the icons*/
.Icon{
    border-right: black 2px ridge;
    border-left: yellow 2px ridge;
    border-bottom: black 2px ridge;
    padding: 12px;
}
#Icon1{
    grid-area: NPCIcon1;   
}
#Icon2{
    grid-area: NPCIcon2;
}
#Icon3{
    grid-area: NPCIcon3;
}
#Icon4{
    grid-area: NPCIcon4;
}
#Icon5{
    grid-area: NPCIcon5;
}
#Icon6{
    grid-area: NPCIcon6;
}
#Icon7{
    grid-area: NPCIcon7;
}
#Icon8{
    grid-area: NPCIcon8;
}

/*Where each character is placed in the battle screen*/
/*Player character and allies*/
#PlayerAvatar{
    grid-area: PlayerAvatar;
}
#AllyNPC1{
    grid-area: AllyNPC1;
}
#AllyNPC2{
    grid-area: AllyNPC2;
}
#AllyNPC3{
    grid-area: AllyNPC3;
}
/*Enemies*/
#Enemy1{
    grid-area: Enemy1;
}
#Enemy2{
    grid-area: Enemy2;
}
#Enemy3{
    grid-area: Enemy3;
}
#Enemy4{
    grid-area: Enemy4;
}
/*Remaining Area's*/
#AllySummons{
    grid-area: AllySummons;
}
#EnemySummons{
    grid-area: EnemySummons;
}
#AllyCharacterDetails{
    grid-area: AllyDetails;
}
#EnemyCharacterDetails{
    grid-area: EnemyDetails;
}
/*Define the Character area*/
.Character{
    display: grid;
    border-bottom: black 2px ridge;
    grid-template-areas: 
    "NameHolder LevelHolder"
    "HealthIntHolder HealthBarHolder"
    "ManaIntHolder ManaBarHolder";
    grid-template-columns: 40% 60%;
    grid-template-rows: 50px 25px 25px;
}
/*Where the Area's are placed in the character area*/
.NameHolder{
    grid-area: NameHolder;
}
.LevelHolder{
    grid-area: LevelHolder;
}
.HealthIntHolder{
    grid-area: HealthIntHolder;
}
.HealthBarHolder{
    grid-area: HealthBarHolder;
}
/*Some styling for the Error function activator*/
#ErrorActivator{
    width: 0px;
    height: 0px;
    padding: 0px;
    margin: 0px;
}
/*Styling for the health bars*/
/*Firefox styling*/
.HealthBar::-moz-progress-bar { 
    background: red; 
} 
/*Chrome/Safari styling*/
.HealthBar::-webkit-progress-value{
  background: red;
}
/*Internet Explorer/Edge styling*/
.HealthBar { 
    background: red; 
} 

/*Styling for the Mana bars*/
/*Firefox styling*/
.ManaBar::-moz-progress-bar { 
    background: Blue; 
} 
/*Chrome/Safari styling*/
.ManaBar::-webkit-progress-value{
  background: Blue;
}
/*Internet Explorer/Edge styling*/
.ManaBar { 
    background: Blue; 
} 
