body{
    background-image: url("../Images/BackgroundImage.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0%;
    padding: 0%;
    color: #e0a906;
    font-family: "Apple Chancery", cursive;
    font-style: italic;
}
.SideBar{
    grid-area: sidebar;
    width: 200px;
    border-right: yellow 2px ridge;
}
.TitleArea{
    grid-area: header;
    height: 10vh;
    border-bottom: yellow 2px ridge;
    font-size: 15px;
    text-align: center;
}
#Gamescreen{
    grid-area: game;
}
.BattleScreen{
    display: grid;
    grid-template-areas: 
    "NPCIcon1 PlayerAvatar NPCIcon5 Enemy1"
    "NPCIcon2 AllyNPC1 NPCIcon6 Enemy2"
    "NPCIcon3 AllyNPC2 NPCIcon7 Enemy3"
    "NPCIcon4 AllyNPC3 NPCIcon8 Enemy4"
    "AllySummons AllySummons EnemySummons EnemySummons"
    "AllyDetails AllyDetails EnemyDetails EnemyDetails";
    gap: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    grid-template-columns: 10% 40% 10% 40%;
    grid-template-rows: 10% 10% 10% 10% auto;
}

.grid-container{
    display: grid;
    grid-template-areas: 
    'sidebar header header header header'
    'sidebar game game game game';
    grid-gap: 0px;
    padding: 0px;
    height: 100vh;
    grid-template-columns: 200px auto auto auto auto;
    grid-template-rows: 10vh auto;
}
.SideBarBtns{
    padding-top: 30vh;
    padding-left: 25px;
}
.SideBarButton{
    width: 150px;
    height: 38px;
}